
html {
    background-color:black;
}



main {
    background-color:black;
    height: 
    overflow:visible;
}

div {
    height:100%;
    display:flex;
    justify-content: center;
    align-content: center;

}
p {
    color:white;
    font-size: 4vw;
    text-align:center;
}

#shape {
    position:absolute;
    top: -50px;
    right: 120px;
    height:100px;
    width:200px;
    background:ghostwhite;
    border-radius:100px/50px;
    display:inline;
}